.leftWrapper {
float: left;
width:10%;
background-color:red;
}

.rightWrapper {
float:right;
width:10%;
background-color:green;
}

.content {
display: inline-block;
width:80%;
background-color:blue;
}

.projectOne {
float: left;
width: 30%;
margin: 1%;
background-color:yellow;
}

.projectThree {
float: right;
width: 30%;
margin: 1%;
background-color:purple;
}

.projectTwo {
display: inline-block;
width: 30%;
margin: 1%;
background-color:gray;
}
