ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li {
    float:right;
}

a {
    display:block;
    width:60px;
    background-color:white;
}

a:hover{
    background-color:gray;
}

.leftWrapper {
float: left;
width:10%;
background-color:red;
}

.rightWrapper {
float:right;
width:10%;
background-color:green;
}

.content {
display: inline-block;
width:80%;
background-color:blue;
}

.skills {
float:right;
width:32%;
margin:0.5%;
background-color:white;
}

.experiences {
float:left;
width:66%;
margin:0.5%;
background-color:white;
}

.projectOne {
float: left;
width: 32%;
margin: 0.5%;
background-color:white;
}

.projectThree {
float: right;
width: 33%;
margin: 0.5%;
background-color:white;
}

.projectTwo {
display: inline-block;
width: 32%;
margin: 0.5%;
background-color:white;
}
