ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li {
    float:right;
}

a {
    display:block;
    width:60px;
    background-color:white;
}

a:hover{
    background-color:gray;
}

.leftWrapper {
float: left;
width:10%;
height:100%;
background-color:white;
}

.rightWrapper {
float:right;
width:10%;
height:100%;
background-color:white;
}

.leftContent {
float:left;
width:10%;
height:100%;
position:fixed;
background-color:gray;
}

.rightContent {
width:10%;
height:100%;
background-color:gray;
}

.content {
display: inline-block;
width:80%;
background-color:blue;
}

.languages {
float:right;
width:32%;
margin:0.5%;
background-color:white;
}

.experience {
width:66%;
margin:0.5%;
background-color:white;
}

.projectPicture {
height:30%;
background-color:purple;
}

.projectOne {
float: left;
width: 32%;
margin: 0.5%;
background-color:white;
}

.projectThree {
float: right;
width: 32%;
margin: 0.5%;
background-color:white;
}

.projectTwo {
display: inline-block;
width: 33%;
margin: 0.5%;
background-color:white;
}
