.wrapperLeft {
float: left;
width:10%;
}

.wrapperRight {
float:right;
width:10%;
}

.content {
display: inline-block;
width:80%;
}

.projectOne {
float: left;
width: 25%;
margin: 1%;
}

.projectThree {
float: right;
width: 25%;
margin: 1%;
}

.projectTwo {
display: inline-block;
width: 25%;
margin: 1%;
}
